/* fonts */
@import url("../font/roboto-condensed/roboto-condensed.css");
/* variables */
/* .a {

	width: 100%;

	height: 100%;

} */
.navbar-brand {
  /* width: 44px; */ }

.nav-item {
  padding: 3px 5px 0 5px !important; }

.nav-item.avatar {
  padding-right: 15px !important; }

/* new */
html, body {
  position: relative;
  height: 100%; }

nav {
  height: 42px; }

.navbar-grey {
  background-color: #f7f7f7; }

.navbar-brand {
  margin: 0;
  padding: 0;
  width: 41px;
  height: 41px;
  /* width: 48px; */
  background-color: #acca53; }

.al-breadcrumb {
  font-family: "RobotoCondensed";
  color: #707070;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 10px 0 0 55px;
  display: inline-block; }

sidenav {
  position: absolute;
  float: left;
  width: 41px;
  height: 100%;
  background-color: #3174a3;
  z-index: 99; }

sidenav li {
  position: relative;
  width: 41px;
  height: 41px;
  background-color: #4682ac; }

.sidenav-div {
  position: relative;
  width: 41px;
  height: 41px;
  background-color: #4682ac;
  z-index: 999; }

.sidenav-hover {
  position: absolute;
  top: -1px;
  left: 40px;
  width: 150px;
  height: 41px;
  padding-top: 9px;
  background-color: #4682ac;
  border-top: solid 1px #245787;
  border-bottom: solid 1px #245787;
  border-right: solid 1px #245787;
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: "RobotoCondensed";
  font-size: 15px;
  letter-spacing: 1px;
  z-index: 888;
  display: none; }

footer {
  width: 100%;
  color: #b0b0b0;
  font-size: 13px; }

footer a {
  color: #b0b0b0; }

.container-main {
  padding: 0 40px 0 75px; }

.padlft-5 {
  padding-left: 5px; }

.padrgt-5 {
  padding-right: 5px; }

.padlft-6 {
  padding-left: 6px; }

.padrgt-6 {
  padding-right: 6px; }

.padlft-8 {
  padding-left: 8px; }

.padrgt-8 {
  padding-right: 8px; }

.padlft-10 {
  padding-left: 10px; }

.padrgt-10 {
  padding-right: 10px; }

.marlft-5 {
  margin-left: 5px; }

.marrgt-5 {
  margin-right: 5px; }

.marlft-6 {
  margin-left: 6px; }

.marrgt-6 {
  margin-right: 6px; }

.marlft-8 {
  margin-left: 8px; }

.marrgt-8 {
  margin-right: 8px; }

.marlft-10 {
  margin-left: 10px; }

.marrgt-10 {
  margin-right: 10px; }

.bt-blu1 {
  border-top: solid 1px #245787; }

.bb-blu1 {
  border-bottom: solid 1px #245787; }

.bt-blu2 {
  border-top: solid 2px #245787; }

.bb-blu2 {
  border-bottom: solid 2px #245787; }

.bb-grey1 {
  border-bottom: solid 1px #e5e5e5; }

.bl-grey1 {
  border-left: solid 1px #e5e5e5; }
